.header {
  width: 100%;
  background-color: #f8f8ff;
  position: relative;

  img {
    position: absolute;

    &.ilustra01 {
      top: 0;
      left: 0;
    }

    &.ilustra02 {
      top: 21.5rem;
      right: 0;
      z-index: 1;
    }
  }
}

.contentWrapper {
  width: 100%;
  max-width: 993px;
  margin: 0 auto;
  padding: 10rem 0;

  .content {
    width: 100%;
    max-width: 647px;
    text-align: center;
    margin: 0 auto 4rem;

    strong {
      font-size: 1.6rem;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 1.6;
      letter-spacing: 0.1rem;
      color: #e45858;
    }

    h1 {
      margin-top: 1.8rem;

      span {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.25;
        color: #6246ea;
      }
    }
  }
}

// RESPONSIVE
@media (max-width: 1300px) {
  .header {
    img.ilustra02 {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .contentWrapper {
    padding: 10rem 3rem;
    position: relative;
    z-index: 3;
  }
}

@media (max-width: 420px) {
  .header {
    img.ilustra01 {
      width: 100%;
    }
  }
}
